.container {
  width: 100%;
  height: 100%;

  .sort-btn {
    border: none;

    .arrow-sort-text {
      display: flex;
      align-items: center;

      > span:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        margin-left: 2px;

        .sort-icon {
          width: 14rpx;
          height: 14rpx;
        }
      }
    }
  }
}
